body
{
    background: var(--soft-blue);
}

/*================================>>  MAIN  <<================================*/

main 
{
    background-color: #ffffff;
    margin: 20px 20px 80px 20px;
    padding: 15px;
}
main > img
{
    width: 250px;
    margin-bottom: 20px;
}

main > form
{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    margin: 5px 15px 5px 15px; /* 15% from the top and centered */
    padding: 5px 15px 0px 15px;
    width: 90%;
    text-align: center;
}

main > form > div
{
    display: flex;
    padding-bottom: 15px;
}

main > form input, main > form label 
{
    display: block;
    padding: 10px;
}

article img
{
    width: 500px;
    height: 300px;
    padding: 0px 15px 0px 0px;
    margin-bottom: 15px;
}

article
{
    padding:15px;
    margin: 5px 15px 15px 0px;
}

p
{
    max-height: 300px;
    padding: 0px 20px 0px 20px;
}