/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------      HEADER      --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

body > header
{
    background-color: #494949;
    width:100%;
    
    padding-top: 3vh;
    padding-bottom: 2vh;
}

body > header img:nth-child(1)
{   
    width: 200px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------   MAIN SECTION   --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

main
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 20px 80px 20px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------      NAVBAR      --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

nav
{
    bottom: 0px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------        CHAT      --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

#chat_container
{
    bottom: 70px;
    right: 20px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------  RESPONSIVENESS  --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

@media only screen and (max-width: 800px)
{
    main
    {
        margin: 8px;
        padding-top: 0;
    }

    main > img
    {
        margin: 10px;
    }
    form
    {
        width: 350px;
    }        
    
    form div
    {
        padding: 5px;
    }

    label
    {
        padding: 1px;
        margin-right: 5px;
    }

    article
    {
        flex-direction: column;
    }
}

@media only screen and (max-height: 700px)
{
    ul
    {
        padding-top: 10px;
    }
    main > img
    {
        display: none;
    }
}