:root {
    --main-black: #3f3f3f;
    --main-grey: #5c5c5c;

    --hard-blue: #7083bb;
    --soft-blue: #CED7EF;
    --supersoft-blue: #f1f4ff;

    --hard-yellow: #fff2b8;
    --soft-yellow: #fdf3c6;
    --supersoft-yellow: #fffae8;
    --white-yellow: #fffdf7;

}

*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

a 
{
    color: rgb(56, 56, 56);
}

body
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
}

/*================================>>  HEADER  <<================================*/

body > header
{
    grid-column: 1 /span 12;
    text-align: center;
}

/*==================================>>  MAIN  <<=================================*/

main
{
    grid-column: 1 /span 12;
    z-index: 100;
}


.buttons
{
    width: 100px;
    cursor: pointer;
    
    border: solid black 1px;
    border-radius: 5px;

    margin-bottom: 10px;
    margin-top: 10px;

    padding: 10px;
}

.required_field_star
{
    color: red;
}

article
{
    display: flex;
    justify-items: center;
    align-items: center;
    border: var(--main-black) solid 3px;
}

p
{
    font-family:'Quicksand', sans-serif;
    font-size: 1.8rem;
    color: #333333;

    overflow-y:auto;
}

/*==================================>>  NAV  <<=================================*/

nav
{
    position: fixed;
    width: 100%;

    z-index: 1000;
}

nav ul
{   
    background-color: var(--main-black);
    display: flex;
}

nav li
{
    display: flex;
    align-items: center;
}

a, #chat_button
{
    font-size: 1rem;
    
    border: var(--main-black) solid 1px;
    background-color: var(--main-grey);
    color: #ffffff;
    padding:15px;

}

li:nth-child(2) a:hover
{
    background-color: var(--soft-blue);
    color: var(--main-black);

    animation: bounce_nav 0.3s infinite alternate;
}

li:nth-child(3) a:hover
{
    background-color: var(--hard-yellow);
    color: var(--main-black);

    animation: bounce_nav2 0.3s infinite alternate;
}

li:first-child a
{
    color: var(--main-black);
    background-color: var(--soft-blue);
}

li:nth-child(3)
{
    position: absolute;
    right: 63px;
}

#chat_button
{
    position: absolute;
    right: 0px;
    cursor: pointer;

    color: var(--main-black);
    background-color: var(--hard-yellow);
}

/*==================================>>  CHAT  <<=================================*/

#chat_container
{
    display: none;

    position: fixed;
    z-index: 100;

    background-color: var(--supersoft-blue);
    border: solid 1px black;
    border-radius: 5px;

    padding: 20px 20px 20px 20px;
    width: 400px;
    height: 400px;
}

#chat_thread
{
    background-color: #ffffff;
    z-index: 10;
    height: 300px;
    width: 400px;
    border-radius: 5px;
}

#chat_container div
{
    width: 400px;
    text-align: center;
}

#chat_container form
{
    display: flex;
    padding: 10px;
}

#chat_container input
{
    padding: 10px;
    margin-top: 10px;
}

#chat_container input:first-child
{
    width: 300px;
}

#close_chat
{
    position: relative;
    color: var(--main-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;

    top: -28px;
    left: 18px;
}

#close_chat:hover
{
    color: #b6b6b6;
    text-decoration: none;
    cursor: pointer;
}

/*==================================>>  ANIMS  <<=================================*/

@keyframes breath
{
    0%
    {
        transform: scale(0.8);
    }
    
    50%
    {
        transform: scale(1.2);
    }
    
    100%
    {
        transform: scale(0.8);
    }
}

@keyframes breath_2
{
    0%
    {
        transform: scale(1);
    }
    
    50%
    {
        transform: scale(1.15);
    }
    
    100%
    {
        transform: scale(1);
    }
}

@keyframes bounce_nav {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes bounce_nav2 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes rotate_z {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}