/*  
    Is it even yellow ?         : #fffdf7
    Super soft yellow           : #fffae8
    Soft yellow                 : #fdf3c6
    Hard yellow                 : #fff2b8
    Super Hard yellow           : #fde98d

    Super soft blue             : #f1f4ff
    Soft blue                   : #CED7EF
    Hard blue                   : #7083bb
*/


*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

a 
{
    color: rgb(56, 56, 56);
}

body
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;

    background: #CED7EF;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------      HEADER      --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

header
{
    grid-column: 1 /span 12;
    background-color: #494949;
    width:100%;
    text-align: center;

    padding-top: 3vh;
    padding-bottom: 2vh;
}

header img:nth-child(1)
{   
    width: 200px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------   MAIN SECTION   --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

main
{
    grid-column: 1 /span 12;
    background-color: #fffdf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

main > img
{
    width: 250px;
    margin-bottom: 20px;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    margin: 5px 15px 5px 15px; /* 15% from the top and centered */
    padding: 5px 15px 0px 15px;
    width: 500px;
    text-align: center;
}

form > div
{
    display: flex;
    padding-bottom: 15px;
}

input, label
{
    display: block;
    padding: 10px;
}

.buttons
{
    margin-top: 10px;
}

.required_field_star
{
    color: red;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------      NAVBAR      --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

nav
{
    position: fixed;
    bottom: 0px;
    width: 100%;

    z-index: 1000;
}
nav ul
{   
    background-color: #3f3f3f;
    display: flex;
}

nav li
{
    display: flex;
}

a
{
    background-color: #686868;
    color: #ffffff;
    padding:15px;
    border: #3f3f3f solid 1px;
}

nav li:nth-child(2) a:hover
{
    background-color: #CED7EF;
    color: #3f3f3f;
}

nav li:nth-child(3) a:hover
{
    background-color: #fff2b8;
    color: #3f3f3f;
}

nav li:first-child a
{
    color: #3f3f3f;
    background-color: #CED7EF;
}

nav li:last-child a
{
    color: #3f3f3f;
    background-color: #fff2b8;
}

nav li:nth-child(4)
{
    position: absolute;
    right: 0px;
}

nav li:nth-child(3)
{
    position: absolute;
    right: 63px;
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------     KEYFRAMES    --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

@keyframes breath
{
    0%
    {
        transform: scale(0.8);
    }
    
    50%
    {
        transform: scale(1.2);
    }
    
    100%
    {
        transform: scale(0.8);
    }
}

@keyframes breath_2
{
    0%
    {
        transform: scale(1);
    }
    
    50%
    {
        transform: scale(1.15);
    }
    
    100%
    {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes rotate_z {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/*-----------------------------------------------                  --------------------------------------*/
/*-----------------------------------------------  RESPONSIVENESS  --------------------------------------*/
/*-----------------------------------------------                  --------------------------------------*/

@media only screen and (min-width: 800px)
{

}
