/*================================>>  MAIN  <<================================*/

form[name=update] {
    background-color: var(--main-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 400px;
    text-align: center;
}

form[name=update] > img {
    width: 250px;
    margin-bottom: 20px;
}


form[name=update] > div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

form[name=update] input, form[name=update] label  {
    display: block;
    padding: 10px;
}

main header {
    margin: 30px;
    padding-bottom: 20px;
}
main header > img {
    width: 300px;
}

/*=================================>>  DATA SECTION  <<=================================*/

main section {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white);
    width:80vw;
    height:fit-content;
}

/*================================>>  RESPONSIVENESS  <<================================*/

@media only screen and (max-width: 1200px) {
    form[name=update] div > label {
        padding: 10px 5px 10px 0px;
        margin-right: 5px;
    }
    main section {
        flex-direction: column;
    }
}
@media only screen and (max-height: 785px) {
    form[name=update] {
        height: 325px;
    }
    form > img {
        display: none;
    }
}
@media only screen and (min-height: 785px) {
    form[name=update] {
        height: 585px;
    }
}