body, main {
    background: var(--main-white);
}

/*================================>>  MAIN  <<================================*/

form[name=update] {
    background-color: var(--soft-blue);
    /* color: var(--main-white); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 400px;
    text-align: center;
}

form[name=update] > img {
    width: 225px;
    margin-bottom: 20px;
}

form[name=update] > div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

form[name=update] input, form[name=update] label  {
    display: block;
    padding: 10px;
}

/*=================================>>  DATA SECTION  <<=================================*/

#dashboard_title {
    background-color: var(--hard-red);
}

#admin_section {
    display: none;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-white);

    margin: 30px 0px 0px 0px ;
    width:100%;   
    height: 1500px;
}

#viz_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px;
    background-color: var(--main-white);

    width:80%;
    height:80%;
}
.charts_container {
    display: flex;
    align-items: center;
}
.counts {
    font-family: "Viga";
    color: var(--light-black);
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 15px;
}
canvas {
    background-color: var(--main-white);
}

/*================================>>  RESPONSIVENESS  <<================================*/

@media only screen and (max-width: 1200px) {
    form[name=update] div > label {
        padding: 10px 5px 10px 0px;
        margin-right: 5px;
    }
    main section {
        flex-direction: column;
    }
}
@media only screen and (max-height: 785px) {
    form[name=update] {
        height: 345px;
    }
    form > img {
        display: none;
    }
}
@media only screen and (min-height: 785px) {
    form[name=update] {
        height: 615px;
    }
}