:root {
    --curveOne: rgb(120, 150, 185);
    --curveTwo: rgb(140, 185, 140);
    --curveThree: rgb(200, 185, 100);
    --curveFour: rgb(170, 105, 60); 

    --curveOneAlpha: rgba(120, 150, 185, 0.2);
    --curveTwoAlpha: rgba(140, 185, 140, 0.2);
    --curveThreeAlpha: rgba(200, 185, 100, 0.2);
    --curveFourAlpha: rgba(170, 105, 60, 0.2); 
}


body, main {
    background: var(--soft-blue);
}

/*================================>>  MAIN  <<================================*/

form[name=update] {
    background-color: var(--main-white);
    /* color: var(--main-white); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 400px;
    text-align: center;
}

form[name=update] > img {
    width: 225px;
    margin-bottom: 20px;
}

form[name=update] > div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

form[name=update] input, form[name=update] label  {
    display: block;
    padding: 10px;
}
form[name=update] > .buttons {
    margin-top: 15px;
}
input[name=delete]:hover {
    background-color: var(--light-red);
    color: var(--main-white);
}
input[name=delete] {
    transition: all 0.5s;
    color: var(--light-red);
    background-color: var(--very-light-grey);
}

/*=================================>>  DATA SECTION  <<=================================*/

#dashboard_title {
    background-color: var(--hard-red);
}

#admin_section {
    display: none;
    flex-direction: column;
    align-items: center;

    background-color: var(--main-white);

    margin: 30px 0px 0px 0px ;
    width:100%;   
}

#viz_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px;
    background-color: var(--main-white);

    width:80%;
    height:80%;
}

#controls {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-bottom: 15px;
}
.active_control {
    transition: 1s;
    color: var(--very-light-grey);
    background: var(--main-black);
}
.slider_container {
    margin-bottom: 15px;
}
.slider {
    border: none;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    border-radius: 999px;
    outline: none;
    width: 100%;
    height: 10px;
    
    background: var(--very-light-grey);
    opacity: 0.7;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 9999px;
    margin-bottom: 15px;
    width: 25px;
    height: 25px;
    background: var(--hard-blue);
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    transform: scale(1.3);
}
input[type=range] ~ datalist {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
input[type=range] ~ datalist option {
    display: block;
    background: 0 0;
    padding: 0;
    text-align: center;
}  

#buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}


#buttons_container input {
    transition: background-color 0.5s;
}
/* #buttons_container input:hover {
    color: var(--main-white);
    background-color: var(--main-black);
} */

.charts_container {
    display: flex;
    align-items: center;
}
.counts {
    font-family: "Viga";
    color: var(--light-black);
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 15px;
}
canvas {
    background-color: var(--main-white);
}




/*================================>>  RESPONSIVENESS  <<================================*/

@media only screen and (max-width: 1200px) {
    form[name=update] div > label {
        padding: 10px 5px 10px 0px;
        margin-right: 5px;
    }
    main section {
        flex-direction: column;
    }
}
@media only screen and (max-height: 785px) {
    form[name=update] {
        height: 345px;
    }
    form > img {
        display: none;
    }
    form[name=update] > .buttons {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (min-height: 785px) {
    form[name=update] {
        height: fit-content;
    }
}