body {
    overflow-x: hidden;
}

/*====================================>>  HEADER  <<====================================*/

header {    
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    height: 100vh;
}

header img:nth-child(1) {   
    z-index: 100;
    grid-column: 1;
    margin-top: 20vh;
    min-width: 200px;
    max-width: 20%;
    animation: fadeIn 3.5s ease-in-out, breath_2 10s infinite;
}

header img:nth-child(2) {
    z-index: 100;
    grid-column: 1;
    position: relative;

    margin-top: 10vh;
    min-width: 50px;
    max-width: 1%;

    animation: fadeIn 3.5s ease-in-out, bounce 0.5s infinite alternate;
}

/*====================================>>  MAIN  <<====================================*/

main {
    z-index: 100;
    background-color: var(--main-white);
    width: 100%;
    padding-bottom: 20px;
}

main > div {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--main-black);
    
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

main > div img {
    min-width: 300px;
    max-width: 35%;
}

section:nth-child(2) {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

article {
    flex-direction: column;
    box-sizing: border-box;
    width: 500px;
    height: 430px;
    margin: 25px 15px 25px 15px;
    box-shadow: 5px 5px 5px var(--main-black);
    
    border: var(--main-black) solid 3px;
    border-radius: 5px;
}
article:hover {
    
    transition: 0.3s border, 0.5s shadow, 0.3s height;
    height: 475px;
    box-shadow: 10px 10px 5px var(--main-black);
    border: var(--hard-blue) solid 25px;
    border-radius: 5px;
}

article p {
    max-width: 500px;
    min-width: 300px;

    text-align: center;
    padding:20px;
}

article img {
    margin: 15px 0px 5px 0px;
    width: 140px;
}

section:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
}

section:nth-child(5) > img {
    display: block;
    width: 250px;
    margin-bottom: 50px;

    animation: bounce 0.5s infinite alternate;
}

/*====================================>>  MODALS  <<====================================*/

form p {
    font-size: 2rem;
}

#login_container, #register_container{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
#login_container{
    height: 225px;
    top: 200px;
}
#login_container > img{
    visibility: hidden;
    position: fixed;
    top: 75px;
    animation: wiggle 0.2s linear infinite alternate;
}

#register_container > img{
    visibility: hidden;
    position: fixed;
    top: 75px;
    animation: wiggle 0.2s linear infinite alternate;
}
#register_container{
    height: 340px;
    top: 150px;
}

form[name="login"] {
    margin: 0px;
    position: relative;
    height: 225px;
}
form[name="register"] {
    margin: 0px;
    position: relative;
    height: 340px;
}

#login_container > form, #register_container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 5px 20px 10px 20px;
    width: 270px;
    background-color: var(--main-white);
}

#login_container > form input, #register_container > form input {
    display: block;
    padding: 10px;
    width: 200px;
}
#login_container > form label, #register_container > form label {
    display: block;
    padding: 10px 10px 5px 10px;
}

#signup_button {
    transition: 0.4s background-color, 0.3s color;
    background-color: var(--hard-yellow);
}
#signup_button:hover {
    background-color: var(--main-grey);
    color:var(--hard-yellow);
}

#login_button{
    transition: 0.4s background-color, 0.3s color;
    background-color: var(--soft-blue);
}
#login_button:hover{
    background-color: var(--main-grey);
    color:var(--soft-blue);
}

/*================================>>  RESPONSIVENESS  <<================================*/

@media only screen and (max-width: 800px)
{
    nav {
        bottom: 0px;
        width: 100%;
    }

    header img:nth-child(2) {
        min-width: 50px;
        max-width: 1%;
    }
}