

.circle {    
    position: absolute;
    border-radius: 100%;
    animation: breath 10s infinite;
    box-shadow: 1px 5px 10px 0px var(--main-black);
}

.size_1 {
    background: var(--primary-hard);
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
    opacity: 1;
}

.size_2 {
    background: var(--secondary-soft);

    width: 380px;
    height: 380px;
    left: -160px;
    bottom: -160px;
    opacity: 0.9;
}

.size_3 {
    background: var(--primary-hard);

    width: 560px;
    height: 560px;
    left: -220px;
    bottom: -220px;
    opacity: 0.8;
}

.size_4 {
    background: var(--secondary-soft);

    width: 740px;
    height: 740px;
    left: -280px;
    bottom: -280px;
    opacity: 0.7;
}

.size_5 {
    background: var(--primary-hard);

    width: 920px;
    height: 920px;
    left: -340px;
    bottom: -340px;
    opacity: 0.6;
}

.size_6 {
    background: var(--secondary-soft);

    width: 1100px;
    height: 1100px;
    left: -400px;
    bottom: -400px;
    opacity: 0.5;
}

.size_7 {
    background: var(--primary-hard);

    width: 1280px;
    height: 1280px;
    left: -460px;
    bottom: -460px;
    opacity: 0.4;
}

.size_8 {
    background: var(--secondary-soft);

    width: 1460px;
    height: 1460px;
    left: -520px;
    bottom: -520px;
    opacity: 0.3;
}

.size_9 {
    background: var(--primary-hard);

    width: 1640px;
    height: 1640px;
    left: -580px;
    bottom: -580px;
    opacity: 0.2;
}

.size_10 {
    background: var(--secondary-soft);

    width: 1820px;
    height: 1820px;
    left: -680px;
    bottom: -680px;
    opacity: 0.1;
}

/*/=========================>> RESPONSIVENESS <<=========================/*/

@media only screen and (min-width: 800px) 
{  
    .size_1 {
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -100px;
        opacity: 1;
    }

    .size_2 {
        width: 500px;
        height: 500px;
        left: -200px;
        bottom: -200px;
        opacity: 0.9;
    }

    .size_3 {
        width: 800px;
        height: 800px;
        left: -300px;
        bottom: -300px;
        opacity: 0.8;
    }

    .size_4 {
        width: 1100px;
        height: 1100px;
        left: -400px;
        bottom: -400px;
        opacity: 0.7;
    }

    .size_5 {
        width: 1400px;
        height: 1400px;
        left: -500px;
        bottom: -500px;
        opacity: 0.6;
    }

    .size_6 {
        width: 1700px;
        height: 1700px;
        left: -600px;
        bottom: -600px;
        opacity: 0.5;
    }

    .size_7 {
        width: 2000px;
        height: 2000px;
        left: -700px;
        bottom: -700px;
        opacity: 0.4;
    }

    .size_8 {
        width: 2300px;
        height: 2300px;
        left: -800px;
        bottom: -800px;
        opacity: 0.3;
    }

    .size_9 {
        width: 2600px;
        height: 2600px;
        left: -900px;
        bottom: -900px;
        opacity: 0.2;
    }

    .size_10 {
        width: 2900px;
        height: 2900px;
        left: -1000px;
        bottom: -1000px;
        opacity: 0.1;
    }

}