:root {
    --primary-hard: var(--hard-blue);
    --primary-soft: var(--soft-blue);
    --primary-softer: var(--supersoft-blue);

    --secondary-hard: var(--hard-yellow);
    --secondary-soft: var(--soft-yellow);
    --secondary-softer: var(--supersoft-yellow);

    
    --main-red: #b65a5a;
    
    --hard-blue: #7083bb;
    --soft-blue: #CED7EF;
    --supersoft-blue: #f1f4ff;
    --hard-green: #a9b976;
    --soft-green: #beca98;
    --supersoft-green: #d5dfbd;
    --hard-yellow: #fff2b8;
    --soft-yellow: #fdf3c6;
    --supersoft-yellow: #fffae8;
    
    --main-black: #3f3f3f;
    --main-grey: #5c5c5c;
    --light-grey: #9c9c9c;
    --very-light-grey: #e6e6e6;
    --main-white: #fcfcfc;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--main-grey);
}
::-webkit-scrollbar-thumb {
    background: var(--light-grey);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hard);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family:'Quicksand', sans-serif;

    scrollbar-color: var(--primary-hard) var(--main-black);
    scrollbar-width: thin;
}
body {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    overflow-x: hidden;
}

a {
    color: var(--main-black);
}
p {
    font-size: 1.1rem;
    color: var(--main-black);
}

/*================================>>  HEADER  <<================================*/

body header {
    grid-column: 1 /span 12;
    text-align: center;
}

/*==================================>>  MAIN  <<=================================*/

main {
    grid-column: 1 /span 12;
}

.buttons {
    transition: 0.2s background-color;
    width: 120px;
    cursor: pointer;

    font-size: 1.2rem;
    
    border: solid 1px var(--light-grey);
    border-radius: 2px;
    margin-top: 20px;

    padding: 10px;
}
input { 
    outline: none;
    background-color: var(--main-white);
    border: solid 1px var(--light-grey);

}

.forms_buttons {
    background-color: var(--very-light-grey);
    color: var(--main-black);
}
.forms_buttons:hover {
    background-color: var(--primary-soft);
}

#password_requirements {
    height:30px;
    font-size: 11px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==================================>>  NAV  <<=================================*/

#main_menu {
    visibility: visible;
    position: fixed;
    bottom: 0px;
    width: 100vw;   
    z-index: 1000;
}

#main_menu ul {   
    display: flex;
    background-color: var(--main-black);
}

#main_menu li {
    display: flex;
    align-items: center;
}

a, #main_menu ul li button {
    font-size: 1rem;
    cursor: pointer;

    transition: 0.3s background-color, 0.3s color;
    
    border: var(--main-black) solid 1px;
    padding:15px;
}

#home_button {
    color: var(--main-black);
    background-color: var(--primary-soft);
}
#home_button:hover {
    background-color: var(--main-grey);
    color: var(--main-white);
}
#chat_button {
    position: absolute;
    right: 8px;
    width: 68px;
    color: var(--main-black);
    background-color: var(--secondary-hard);
}
#chat_button:hover {
    background-color: var(--main-grey);
    color: var(--main-white);
}
#services_button, #account_button, #logout_button {
    background-color: var(--main-grey);
    color: var(--main-white);
}

#services_button:hover {
    background-color: var(--primary-soft);
    color: var(--main-black);
}
#account_button {
    position: absolute;
    right: 76px;
    width: 91px;
}
#logout_button {
    position: absolute;
    right: 167px;
    width: 93px;
}
#account_button:hover, #logout_button:hover  {
    background-color: var(--secondary-hard);
    color: var(--main-black);
}

/*================================>>  MODALS  <<=================================*/

.modal {
    z-index: 1000;
    display: flex;
    position: fixed;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3f3f3fa4; /* Fallback color */
}

/*==================================>>  CHAT  <<=================================*/

#chat_container {
    position: fixed;
    visibility: hidden;
    z-index: 101;
    
    bottom: 52px;
    right: 0px;
    border: none;
    outline: none;
}
form[name=chat] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 20px;
    background-color: var(--main-black);
    border-radius: 2px;
    width: 350px;
}

#messages_display {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--main-white);
    padding: 5px;
    height: 250px;
    width: 100%;
    border: solid 1px var(--very-light-grey);
    border-bottom: none;

    outline: none;
}

#chat_back {
    fill: var(--main-black);
    left: 140px;
}

.chat_icons  {
    position: relative;
    width: 25px;
    cursor: pointer;
}
form[name=chat] > header {
    border: solid 1px var(--very-light-grey);
    border-bottom: none;

    display: flex;
    align-content: flex-start;
    background-color: var(--main-white);
    padding: 10px;
}
form[name=chat] > header > div {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    margin-left: 15px;
}
#chat_header {
    font-size: 1rem;
    font-weight: 600;
}
form[name=chat] p{
    /* color: white; */
    font-size: 0.8rem;
}
form[name=chat] img {
    background-color: var(--main-black);
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1) ;
    border-radius: 100%;
    padding: 5px;
}
form[name=chat] footer {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--main-black);
    padding: 5px;
    height: 60px;
    width: 100%;
}
form[name=chat] input[type=textarea]  {
    padding: 10px;
    margin: 5px;
    width: 250px;
    resize: none;
    border-radius: 9999px;
    border: none;
    outline: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.191);
}
#chat_container > aside {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: fit-content;
    background-color: var(--main-black);
    position: relative;
    cursor: pointer;
    border: none;
}
#chat_container > aside span {

    text-align: center;
    width: 159px;
    padding: 10px;
}
#chat_container > aside span:hover {
    background-color: #7083bb;
}

/*==================================>>  ANIMS  <<=================================*/

@keyframes breath {
    0% {
        transform: scale(0.8);
    }  
    50% {
        transform: scale(1.2);
    }  
    100% {
        transform: scale(0.8);
    }
}
@keyframes breath_2 {
    0% {
        transform: scale(1);
    }   
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes rotate_z {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes wiggle {
    0% {
        transform: rotateZ(10deg) translateX(20px);
    } 
    100% {
        transform: rotateZ(-10deg) translateX(-20px);
    }
}