/*================================>>  HEADER  <<================================*/

header {
    background-color: var(--main-black);
    width:100%;   
    padding-top: 20px;
    padding-bottom: 10px;
}

body > header > img {   
    width: 200px;
}

/*================================>>  MAIN  <<================================*/

main {
    margin: 10px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===============================>>  CHAT  <<=================================*/

form[name=chat] {
    bottom: 70px;
    right: 20px;
}