body, main {
    background: var(--primary-soft);
}

/*================================>>  HEADER  <<================================*/

header {
    background-color: var(--main-black);
    width:100%;   
    padding-top: 20px;
    padding-bottom: 10px;
}

body > header > img {   
    width: 200px;
}

/*================================>>  MAIN  <<================================*/

main {
    width: 100%;
    margin: 20px 15px 80px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*================================>>  NAV  <<================================*/

nav {
    bottom: 0px;
}

/*===============================>>  CHAT  <<=================================*/

form[name=chat] {
    bottom: 70px;
    right: 20px;
}