/*==================================>>  MAIN  <<=================================*/
body > main {
    margin: 0px 50px 15px 50px;
    height: 1500px;
    background-color: var(--main-white);
}
main nav {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: var(--very-light-grey);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
main button, main input {
    float: left;
    display: block;
    font-size: 1.2rem;
    background-color: var(--main-white);
    
    border: none;
    outline: none;
    padding: 20px;
    transition: 0.3s;
}
main nav button:hover {
    cursor: pointer;
    background-color: var(--very-light-grey);
}
input:hover {
    background-color: var(--very-light-grey);
}
#drop_button {
    display: none;
}


/*===========================>>  ARTICLES <<============================*/

.activities {
    grid-column: 1 /span 12;
    margin: 20px;
    
    display: none;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.activities img 
{
    margin-top: 10px;
    border: solid 2px var(--very-light-grey);
    border-radius: 2px;
    padding: 20px;
}
nav + article {
    border: none;
}


/*===========================>>  RESPONSIVENESS  <<============================*/

@media only screen and (max-width: 1300px) {
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown_content {
        position: absolute;
        top: 65px;
    }
    .tab_buttons{
        display: none;
        width: 150px;
    }
    #drop_button {

        display: block; 
    }
}
@media only screen and (min-width: 1301px) {
    .tab_buttons{
        /*== INFO: Breakpoint not triggering without !important, CSS/JS conflicting ? */
        display: block !important;  
    }
    #drop_button {
        display: none;
    }
}