/*==================================>>  MAIN  <<=================================*/
section {
    width: 90%;
}
article img {
    width: 500px;
    height: 300px;
    padding: 0px 15px 0px 0px;
    margin-bottom: 15px;
}

article {
    padding:15px;
    margin: 5px 15px 15px 0px;
}

p {
    max-height: 300px;
    padding: 0px 20px 0px 20px;
}

article > button {
    padding: 5px;
    margin: 10px 0px 0px 10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: var(--primary-soft);
}

/*===========================>>  RESPONSIVENESS  <<============================*/

@media only screen and (max-width: 800px) {
    article {
        flex-direction: column;
    }
}