/*==================================>>  MAIN  <<=================================*/
body > main {
    margin: 0px 50px 15px 50px;
}
main nav {
    display: flex;
    justify-content: flex-end;
    z-index: 100;

    height: 65px;
    width: 100%;
    background-color: var(--very-light-grey);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
main button, main input {
    float: left;
    display: block;
    font-size: 1.2rem;
    background-color: var(--main-white);
    
    border: none;
    outline: none;
    padding: 20px;
    transition: 0.3s;
}

main nav button:hover {
    cursor: pointer;
    background-color: var(--very-light-grey);
}
input:hover {
    background-color: var(--very-light-grey);
}
.dropdown {        
    position: absolute;
    left: 0px;
}

.autocomplete_box{ 
    position: absolute;
    overflow-y: auto;
    background-color: var(--main-white);
    top: 167px;
    max-height: 250px;
    right: 0px;
    width: 318px;
}
.autocomplete_box li {
    user-select: none;
    transition: 0.4s;
    list-style: none;
    cursor: default;
    padding: 10px;
}
.autocomplete_box li:hover{
    cursor: pointer;
    background-color: var(--very-light-grey);    
}

/*===========================>>  ARTICLES <<============================*/

main section {
    z-index: 0;
    width: 100%;
    background-color: var(--main-white);

    max-height: 0;
    
    transition: max-height 1.5s, background-color 2s;
    overflow: hidden;
}
.activities {
    position: relative;
    top: -650px;
    z-index: 10;
    grid-column: 1 /span 12;
    margin: 20px;

    display: none;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 20px;
}
.activities img { 

    margin-top: 10px;
    border: solid 2px var(--very-light-grey);
    border-radius: 2px;
    padding: 20px;
}

nav + article {
    border: none;
}

svg {
    text-align: center;
    bottom: -650px;
    width: 100%;
    z-index: -6;
    position: relative;
}

/*===========================>>  RESPONSIVENESS  <<============================*/

@media only screen and (max-width: 1300px) {
    .autocomplete_box {
        right: 59px;
    }
    .dropdown {
        display: inline-block;
    }
    .dropdown_content {
        position: absolute;
        top: 65px;
    }
    .tab_buttons{
        display: none;
        width: 150px;
    }
    #drop_button {

        display: block; 
    }
}
@media only screen and (min-width: 1301px) {
    .tab_buttons{
        /*== INFO: Breakpoint not triggering without !important, CSS/JS conflicting ? */
        display: block !important;  
    }
    #drop_button {
        display: none;
    }
}